<% include ../partials/general/header.ejs %>

<div class="center">
    <a href="/sendemail" id="sendEmail" class="waves-effect waves-light btn">Send Email</a>
</div>

<% include ../partials/general/footer.ejs %>
