<% include ../partials/general/header.ejs %>
<div class="row">
    <form action="/sendemail" method="post" class="col s12">
      <div class="row">
          
                <div class="input-field col s12">
          <input id="title" type="text" name="title" class="validate"  required="" aria-required="true">
          <label for="title">Title</label>
        </div>
        

                  <div class="input-field col s12">
          <input id="content" type="text" name="content" class="validate"  required="" aria-required="true">
          <label for="content">Email content</label>
        </div>

 
        <div class="row">
      <div class="center-align">

  <button class="btn waves-effect waves-light btn-large" id="submit" type="submit" name="action">SEND
    <i class="material-icons right">send</i>
  </button>
  </div>
</div>

    </form>
  </div>
  


<% include ../partials/general/footer.ejs %>
